.homepage-div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage-first-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.homepage-first-section::after{
    content: "";
    background-image: url("../assets//images/homepage_1.jpg");
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

.homepage-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

.homepage-title h1 {
    color: #ffbe00;
    font-size: 15vw;
    font-weight: bolder;
 
}

.homepage-title h2 {
    color: black;
    font-size: 10vw;
    font-weight: bolder;
}

.delicious-food {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(39, 39, 39);
    width: 100vw;
}

.homepage-title {
    width: 20vw;
}

.delicious-food img {
    width: 70vw;
}

.delicious-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
    background-color: rgb(39, 39, 39);
}

.delicious-price img {
    width: 70vw;
}

.homepage-order {
    background-color: #ffbe00;
    margin-top: 100px;
    width: 100vw;
    min-width: 200px;
    height: 100px;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 5px 8px rgba(0,0,0,0.3);
}

.homepage-order h1 {
    width: 100%;
    color: black;
    font-size: 2em;
    text-decoration: none;
}

a {
    outline: none !important;
    text-decoration: none !important;
    color: black;
    
}
    